.container{
    display: flex;
    gap: 5px;
}

.pfp{
    height: 35px;
    border-radius: 50%;
}

.usercontainer{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: bold;
    padding-top: 5px;
}

.rightcontainer{
    display: flex;
    flex-direction: column;
}

.messagecontainer{
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    padding: 5px;
    font-weight: normal;
    line-height: 1.3rem;
}

.showtext{
    font-weight: bold;
    cursor: pointer;
    width: fit-content;

    user-select: none;   /* Standard */
    -webkit-user-select: none; /* For Safari/Chrome */
    -moz-user-select: none;    /* For Firefox */
    -ms-user-select: none;     /* For old IE/Edge */
}

.showtext:hover{
    text-decoration: underline;
}

.namedate{
    cursor: pointer;
    width: fit-content;
    font-size: 0.8rem;
}

.buttonscontainer{
    display: flex;
}

.logocontainer{
    gap: 5px;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.likedlogocontainer{
    gap: 5px;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    background-color: rgb(235, 235, 235);
}

.likedlogocontainer:hover{
    background-color: rgb(222, 222, 222);
}

.postownernamedate{
    border-radius: 5px;
    padding: 0px 10px;
    background-color: rgb(228, 228, 228);
}

.logocontainer:hover{
    background-color: rgb(241, 241, 241);
}

.likelogo{
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: 0 -863px;
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v4/yC/r/pS7pURSmNlX.png?_nc_eui2=AeErAUrAkR18yU687qemddon94jW2ZlCNaX3iNbZmUI1pTQCjc11GSbC9x369RRX_PfGIPBzWmwdshzUKMJDBbiq');
}

.commentlogo{
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: 0 -821px;
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v4/yC/r/pS7pURSmNlX.png?_nc_eui2=AeErAUrAkR18yU687qemddon94jW2ZlCNaX3iNbZmUI1pTQCjc11GSbC9x369RRX_PfGIPBzWmwdshzUKMJDBbiq');
}

.likelogoliked{
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: 0 -842px;
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v4/yC/r/pS7pURSmNlX.png?_nc_eui2=AeErAUrAkR18yU687qemddon94jW2ZlCNaX3iNbZmUI1pTQCjc11GSbC9x369RRX_PfGIPBzWmwdshzUKMJDBbiq');  
}