* {
    margin: 0;
}

.container{
    background-color: red;
    height: 89vh;
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

.contentcontainer{
    width: 50vw;
    max-width: 600px;
    background-color: white;
    border-radius: 10px;
    border: 1px rgb(212, 212, 212) solid;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.sidebarcontainer{
    width: 35vw;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: auto;
}

.friendlistcontainer{
    width: 100%;
    height: 50%;
    max-width: 300px;
    background-color: white;
    border-radius: 10px;
    border: 1px rgb(212, 212, 212) solid;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
    overflow-y: auto;
}

.friendscontainer{
    height: 50%;
    width: 100%;
    max-width: 300px;
    background-color: white;
    border-radius: 10px;
    border: 1px rgb(212, 212, 212) solid;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
    overflow-y: auto;
}
