.container{
    /* background-color: red; */
    height: 89vh;
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

.contentcontainer{
    scrollbar-width: none; /* hide scroll for Firefox */
    overflow-x: auto;
    gap: 5px;
    width: 50vw;
    max-width: 600px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    border: 1px rgb(212, 212, 212) solid;
    display: flex;
    flex-direction: column;
    padding: 10px;
}


.sidebarcontainer{
    width: 35vw;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: auto;
}

.friendlistcontainer{
    width: 100%;
    height: 50%;
    max-width: 300px;
    background-color: white;
    border-radius: 10px;
    border: 1px rgb(212, 212, 212) solid;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
    overflow-y: auto;
}

.friendscontainer{
    height: 50%;
    width: 100%;
    max-width: 300px;
    background-color: white;
    border-radius: 10px;
    border: 1px rgb(212, 212, 212) solid;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
    overflow-y: auto;
}

.headercontainer{
    display: flex;
    gap: 5px;
}

.headerpfp{
    border-radius: 50%;
    width: 60px;
    cursor: pointer;
}

.headerpfp:hover{
    border: 2px solid grey;
}

.titlecontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    font-size: 1.1rem;
    min-width: fit-content;
}

.messagecontainer{
    font-size: 1.2rem;
    min-height: 5rem;
    margin-top: 10px;
    margin-bottom: 10px;
}


.footercontainer{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    max-height: 2.2rem;
    display: flex;
    align-items: center;
}


.footerbuttoncontainer{
  width: 33%;
  padding: 8px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  justify-content: center;
  cursor: pointer;
}

.footerbuttoncontainerliked{
  width: 33%;
  padding: 8px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  justify-content: center;
  cursor: pointer;
  background-color: rgb(237, 237, 237);
}

.likelogo{
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: 0 -863px;
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v4/yC/r/pS7pURSmNlX.png?_nc_eui2=AeErAUrAkR18yU687qemddon94jW2ZlCNaX3iNbZmUI1pTQCjc11GSbC9x369RRX_PfGIPBzWmwdshzUKMJDBbiq');
}

.likelogoliked{
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: 0 -842px;
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v4/yC/r/pS7pURSmNlX.png?_nc_eui2=AeErAUrAkR18yU687qemddon94jW2ZlCNaX3iNbZmUI1pTQCjc11GSbC9x369RRX_PfGIPBzWmwdshzUKMJDBbiq');  
}

.commentlogo{
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: 0 -821px;
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v4/yC/r/pS7pURSmNlX.png?_nc_eui2=AeErAUrAkR18yU687qemddon94jW2ZlCNaX3iNbZmUI1pTQCjc11GSbC9x369RRX_PfGIPBzWmwdshzUKMJDBbiq');
}

.sharelogo{
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: 0 -885px;
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v4/yC/r/pS7pURSmNlX.png?_nc_eui2=AeErAUrAkR18yU687qemddon94jW2ZlCNaX3iNbZmUI1pTQCjc11GSbC9x369RRX_PfGIPBzWmwdshzUKMJDBbiq');
}


.footerbuttoncontainer:hover{
    background-color: rgb(237, 237, 237);
}

.usercommentsectioncontainer{
    display: flex;
    flex-direction: column;

}

.commentinputcontainer{
    display: flex;
    align-items: center;
    height: 8rem;
    gap: 10px;
}

.textareacontainer textarea::placeholder{
    color: rgb(153, 153, 153);
}

.textareacontainer textarea {
    background-color: rgba(255, 255, 255, 0.499);
    border: none;
    border-radius: 10px;
    width: 100%;
    outline: none;
    resize: none;
    font-size: 1rem;
    overflow: hidden;        /* hide scrollbars */
    line-height: 1.2rem;     /* adjust to match font size */
    padding: 4px 8px;        /* optional, adjust for spacing */
    min-height: 1.5rem;      /* 1 line height */
    max-height: 6rem;
    box-sizing: border-box;  /* include padding in height */
}

/* the profile picture of comment input under the post */
.commentinputpfp{
    border-radius: 50%;
    width: 50px;
}

.textareacontainer{
    width: 100%;
    background-color: rgb(225, 225, 225);
    padding: 3px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.textareabuttoncontainer{
    height: 2rem;
    display: flex;
    justify-content: flex-end;
}

.sendbutton{
    width: 2rem;
    height: 100%;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 0.2s ease-in-out;
}

.sendbuttonoff{
    width: 2rem;
    height: 100%;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    cursor: not-allowed;
}

.sendbutton:hover{
    cursor: pointer;
    background-color: rgb(249, 249, 249);
}

.sendbuttonimage{
    width: 20px;
}

.commentscontainer{
    /* background-color: red; */
    width: 100%;
    height: 100%;
}

.commentscontainer{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.headerbuttoncontainer{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: relative;
}

.settingiconcontainer{
    background-color: rgb(232, 232, 232);
    width: 40px;
    height: 65%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: border 0.2s ease-in-out;
}

.settingiconcontainer:hover{
    border: rgb(190, 190, 190) 2px solid;
}

.settingiconcontainer:active{
    background-color: rgb(213, 213, 213);
    border: rgb(190, 190, 190) 2px solid;
}

.settingicon{
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: 0 -589px;
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v4/yC/r/pS7pURSmNlX.png?_nc_eui2=AeErAUrAkR18yU687qemddon94jW2ZlCNaX3iNbZmUI1pTQCjc11GSbC9x369RRX_PfGIPBzWmwdshzUKMJDBbiq');
}

.dropdown {
    position: absolute;
    right: 10px;
    top: 40px; /* adjust so it appears below the icon */
    background: white;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    z-index: 100;
    min-width: 160px;
}

.dropdownitem{
    display: flex;
    padding: 8px;
    align-items: center;
    cursor: pointer;
}

.dropdownlogocontainer{
  background-color: rgb(214, 214, 214);
  width: fit-content;
  padding: 8px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editlogodropdown{
    width: 20px;
    height: 20px;          /* must match icon height exactly */
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v4/yH/r/foe7A7YmG4v.png');
    background-repeat: no-repeat;
    background-position: 0 -402px; /* vertical offset: -80px for the correct icon */
}

.deletelogodropdown{
    width: 20px;
    height: 20px;          /* must match icon height exactly */
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v4/yC/r/pS7pURSmNlX.png?_nc_eui2=AeErAUrAkR18yU687qemddon94jW2ZlCNaX3iNbZmUI1pTQCjc11GSbC9x369RRX_PfGIPBzWmwdshzUKMJDBbiq');
    background-repeat: no-repeat;
    background-position: 0 -569px; /* vertical offset: -80px for the correct icon */
}

.reportlogodropdown{
    width: 20px;
    height: 20px;          /* must match icon height exactly */
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v4/yC/r/pS7pURSmNlX.png?_nc_eui2=AeErAUrAkR18yU687qemddon94jW2ZlCNaX3iNbZmUI1pTQCjc11GSbC9x369RRX_PfGIPBzWmwdshzUKMJDBbiq');
    background-repeat: no-repeat;
    background-position: 0 -296px; /* vertical offset: -80px for the correct icon */
}


.dropdown p {
    margin: 0;
    padding: 5px;
    font-size: 1rem;
    font-weight: bold;

    user-select: none;   /* Standard */
    -webkit-user-select: none; /* For Safari/Chrome */
    -moz-user-select: none;    /* For Firefox */
    -ms-user-select: none;     /* For old IE/Edge */
}

.dropdownitem:hover {
    background: #f5f5f5;
}


@media screen and (max-width: 768px) {
    .sidebarcontainer {
        display: none;
    }
    .contentcontainer{
        width: 90vw;
    }
}