.editPopup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px 25px;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 80%;
  max-width: 1100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 80%;
  max-height: 90vh; /* shrink if screen is smaller */
  overflow-y: auto; /* enable scrolling if content is too tall */
  gap: 15px;
}

.editPopup textarea {
    box-sizing: border-box;
    padding: 10px 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    width: 100%;
    min-height: 120px; /* give some space for multiple lines */
    outline: none;
    transition: border 0.2s ease;
    resize: none; /* prevents user from dragging to resize */
}

.editPopup textarea:focus {
  border: 1px solid #007bff;
}


.editPopup button {
  padding: 10px;
  border: none;
  border-radius: 8px;
  width: 50%;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s ease;
}

.editPopup button:first-of-type {
  background: #007bff;
  color: #fff;
}

.editPopup button:first-of-type:hover {
  background: #0056b3;
}

.editPopup button:last-of-type {
  background: #f1f1f1;
  color: #333;
}

.editPopup button:last-of-type:hover {
  background: #ddd;
}

.edittitle{
}

.editcontainer{
  width: 100%;
}
