p{
    margin: 0;
}

.container{
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    min-height: 11rem;
    max-height: 25rem;
    /* height: 100%; */
    /* height: 9rem; */
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    height: 2.5rem;
    display: flex;
    align-items: center;
    gap: 10px;
}       

.pfp{
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
}

.pfp:hover{
    border: rgb(211, 211, 211) 2px solid;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.username{
    font-weight: bold;
    cursor: pointer;
}


.username:hover{
    text-decoration: underline;
}

.date{
    font-size: 0.8rem;
    font-weight: bold;
}

.postinfobutton{
    height: 90%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    border-radius: 1000px;
    font-weight: bold;
    cursor: pointer;
}



.postinfobutton:hover{
    background-color: rgb(234, 234, 234);
}

.messagecontainer{
    height: 100%;
    cursor: pointer;
}

.footercontainer{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    max-height: 2.2rem;
    display: flex;
    align-items: center;
}


.footerbuttoncontainer{
  width: 33%;
  padding: 8px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  justify-content: center;
  cursor: pointer;
}

.footerbuttoncontainerliked{
  width: 33%;
  padding: 8px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  justify-content: center;
  cursor: pointer;
  background-color: rgb(237, 237, 237);
}

.likelogo{
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: 0 -863px;
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v4/yC/r/pS7pURSmNlX.png?_nc_eui2=AeErAUrAkR18yU687qemddon94jW2ZlCNaX3iNbZmUI1pTQCjc11GSbC9x369RRX_PfGIPBzWmwdshzUKMJDBbiq');
}

.likelogoliked{
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: 0 -842px;
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v4/yC/r/pS7pURSmNlX.png?_nc_eui2=AeErAUrAkR18yU687qemddon94jW2ZlCNaX3iNbZmUI1pTQCjc11GSbC9x369RRX_PfGIPBzWmwdshzUKMJDBbiq');  
}

.commentlogo{
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: 0 -821px;
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v4/yC/r/pS7pURSmNlX.png?_nc_eui2=AeErAUrAkR18yU687qemddon94jW2ZlCNaX3iNbZmUI1pTQCjc11GSbC9x369RRX_PfGIPBzWmwdshzUKMJDBbiq');
}

.sharelogo{
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: 0 -885px;
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v4/yC/r/pS7pURSmNlX.png?_nc_eui2=AeErAUrAkR18yU687qemddon94jW2ZlCNaX3iNbZmUI1pTQCjc11GSbC9x369RRX_PfGIPBzWmwdshzUKMJDBbiq');
}


.footerbuttoncontainer:hover{
    background-color: rgb(237, 237, 237);
}

/* 
.likelogocontainer{
  width: 35px;
  padding: 8px;
  border-radius: 50px;
} */